@import "../../css/colors.scss";
@import "../../css/mixins.scss";

.link {
  font-family: 'SF UI Display Thin';
  @include text(12px);
  color: $gray;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
  &_black {
    color: black;
    @include text(16px);
  }
}
