@import "../../css/colors.scss";
@import "../../css/mixins.scss";

.input {
  position: relative;

  &__value {
    input {
      border: 1.5px solid $gray;
      height: 44px;
      border-radius: 21px;
      outline: none;
      padding: 0 20px;
      width: 100%;
      @include text(18px, 0.06em);
    }
  }
  &__placeholder {
    margin-bottom: 5px;
    @include text(16px);
    color: $gray;
  }
  &__hidden-icon {
    position: absolute;
    right: 16px;
    top: 37px;
  }
}
