@import "../../../shared/css/mixins.scss";

.story {
  &__title {
    @include text(30px, 0.03em);
    margin-bottom: 45px;
  }
  &__pagination {
    margin-top: 40px;
    display: flex;
    justify-content: center;
  }
}

.table__item_ {
  &client-id {
    flex-basis: 12%;
  }
  &date {
    flex-basis: 21%;
  }
  &payment {
    flex-basis: 35%;
  }
  &reward {
    flex-basis: 32%;
  }
}
