<div class="login">
  <div class="login__background">
    <img src="assets/images/login-background.png" alt="">
  </div>
  <div class="login__content">
    <div class="login__logo">
      <img src="assets/images/logo.png" alt="">
    </div>
    <div class="login__form">
      <div class="login__form-control">
        <app-input type="text" placeholder="Логин"></app-input>
      </div>
      <div class="login__form-control">
        <app-input type="password" placeholder="Пароль"></app-input>
      </div>
    </div>
  </div>
</div>
