<div class="payments">
  <div class="payments__header">
    <div class="payments__header-card">
      <app-info-card caption="Баланс 8720,50₽">
        <div class="info-card__content">Активированных промокодов: 58</div>
      </app-info-card>
    </div>
    <div class="payments__header-card">
      <app-info-card caption="Вывод средств">
        <div class="info-card__content">
          Введите желаемую сумму:
          <div class="info-card__content-label">
            <app-label value="2000" currency="₽"></app-label>
          </div>
          <div class="info-card__content-button">
            <app-button caption="Вывести" appOpenOut></app-button>
          </div>
        </div>
      </app-info-card>
    </div>
  </div>
  <div class="payments__story">
    <app-payments-story></app-payments-story>
  </div>
</div>
