@import "../../css/colors.scss";
@import "../../css/mixins.scss";

.button {
  height: 40px;
  font-family: 'SF UI Display';
  background-color: $main;
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  @include text(18px);
  padding: 12px 24px;

  &:hover:not(.button_disabled) {
    background-color: $light-main;
    cursor: pointer;
  }
  &_dark {
    background-color: $dark-green;
    height: 44px;

    &:hover:not(.button_disabled) {
      background-color: $light-green;
      cursor: pointer;
    }
  }
  &_disabled {
    background-color: $light-text;
    color: $card-color;
  }
}
